<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.juseom.dao.mybatis.mapper.AuctionMapper">
	<cache />
	
	<insert id="insertNewAuction" parameterType="Auction">
		INSERT INTO AUCTION (AUCTIONID, BOOKID, STARTPRICE, PRESENTPRICE, SALESNUMBER, BIDNUMBER, ENDTIME, STATUS)
		VALUES (#{auctionId}, #{bookId}, #{startPrice}, #{presentPrice}, #{salesNumber}, #{bidNumber}, #{endTime}, 'OPEN')
	</insert>
	
	<update id="closeAuction" parameterType="Date">
		<![CDATA[
			UPDATE AUCTION
			SET STATUS = 'CLOSE'
			WHERE ENDTIME <= #{curTime}
		]]>
	</update>
</mapper>