<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.juseom.dao.mybatis.mapper.RateMapper">
	<cache />
	
	<select id="getRateListByUser" resultType="Rate">
     	SELECT
        	RATERID,
        	RATE,
        	DESCRIPTION
     	FROM RATE
     	WHERE RATEDID = #{value}
     	ORDER BY rateId DESC
  	</select>
  	
  	<insert id="insertRate" parameterType="Rate">
    	<selectKey keyProperty="rateId" resultType="int" order="BEFORE">
        	SELECT RATE_SEQ.nextval AS rateId FROM DUAL
     	</selectKey>
     		INSERT INTO RATE(rateId, RATERID, RATEDID, RATE, DESCRIPTION, BOOKID)
    		VALUES (#{rateId}, #{raterId}, #{ratedId}, #{rate}, #{description}, #{bookId})
  	</insert>
  	
  	 <select id="getRate" resultType="Rate">
     	SELECT
        	RATEID,
        	RATERID,
        	RATEDID,
        	RATE,
        	DESCRIPTION,
        	BOOKID
     	FROM RATE
     	WHERE RATEID = #{rateId}
  </select>
  
  <select id="searchRate" resultType="int">
  		SELECT count(*)
  		FROM RATE
  		WHERE bookId = #{value}
  </select>
  
  <select id="getAvgRate" resultType="String" parameterType="String">
  		SELECT NVL(ROUND(AVG(RATE),0),0) 
  		FROM RATE
  		WHERE ratedId = #{value}
  </select>
	
</mapper>