<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.juseom.dao.mybatis.mapper.UserMapper">
  <cache />

  <select id="getUserById" resultType="User">
    SELECT USERID,
          PASSWORD,
          NAME,
          PHONE,
          COMMNAME,
          PROFILEPICURL,
          ADDRESS1,
          ADDRESS2,
          ADDRESS3
    FROM USER
    WHERE USERID = #{userId}
  </select>

  <!-- <select id="getAccountByUsernameAndPassword" resultType="Account">
    SELECT SIGNON.USERNAME,
      ACCOUNT.EMAIL,
      ACCOUNT.FIRSTNAME,
      ACCOUNT.LASTNAME,
      ACCOUNT.STATUS,
      ACCOUNT.ADDR1 AS address1,
      ACCOUNT.ADDR2 AS address2,
      ACCOUNT.CITY,
      ACCOUNT.STATE,
      ACCOUNT.ZIP,
      ACCOUNT.COUNTRY,
      ACCOUNT.PHONE,
      PROFILE.LANGPREF AS languagePreference,
      PROFILE.FAVCATEGORY AS favouriteCategoryId,
      PROFILE.MYLISTOPT AS listOption,
      PROFILE.BANNEROPT AS bannerOption,
      BANNERDATA.BANNERNAME
    FROM ACCOUNT, PROFILE, SIGNON, BANNERDATA
    WHERE ACCOUNT.USERID = #{param1}
      AND SIGNON.PASSWORD = #{param2}
      AND SIGNON.USERNAME = ACCOUNT.USERID
      AND PROFILE.USERID = ACCOUNT.USERID
      AND PROFILE.FAVCATEGORY = BANNERDATA.FAVCATEGORY
  </select> -->

  <!-- <select id="getUsernameList" resultType="java.lang.String">
    SELECT USERNAME AS VALUE FROM SIGNON
  </select> -->

  <update id="updateUser" parameterType="User">
    UPDATE ACCOUNT SET
      PASSWORD = #{password},
      NAME = #{name},
      PHONE = #{phone},
      COMMNAME = #{commName},
      PROFILEPICURL = #{profilePicUrl},
      ADDR1 = #{address1},
      ADDR2 = #{address2,jdbcType=VARCHAR},
      ADDR3 = #{address3,jdbcType=VARCHAR}
    WHERE USERID = #{userId}
  </update>

  <!--  <insert id="insertAccount" parameterType="Account">
    INSERT INTO ACCOUNT
      (USERID, PASSWORD, NAME, PHONE, COMMNAME, PROFILEPICURL, ADDRESS1, ADDRESS2, ADDRESS3)
    VALUES
      (#{userId}, #{password}, #{name}, #{phone}, #{commName}, #{profilePicUrl}, #{address1}, #{address2, jdbcType=VARCHAR}, #{address3, jdbcType=VARCHAR})
  </insert> -->

  <!--  
  TODO MyBatis 3 does not map booleans to integers
  <update id="updateProfile" parameterType="Account">
    UPDATE PROFILE SET
      LANGPREF = #{languagePreference},
      FAVCATEGORY = #{favouriteCategoryId},
      MYLISTOPT = #{listOption},
      BANNEROPT = #{bannerOption}
    WHERE USERID = #{username}
  </update>
  -->

  <!-- <update id="updateProfile" parameterType="User">
    UPDATE PROFILE SET
      LANGPREF = #{languagePreference},
      FAVCATEGORY = #{favouriteCategoryId}
    WHERE USERID = #{username}
  </update> -->

  <!--  
  TODO MyBatis 3 does not map booleans to integers
  <insert id="insertProfile" parameterType="Account">
    INSERT INTO PROFILE (LANGPREF, FAVCATEGORY, MYLISTOPT, BANNEROPT, USERID)
    VALUES (#{languagePreference}, #{favouriteCategoryId}, #{listOption}, #{bannerOption}, #{username})
  </insert>
  -->

  <!-- <insert id="insertProfile" parameterType="Account">
    INSERT INTO PROFILE (LANGPREF, FAVCATEGORY, USERID)
    VALUES (#{languagePreference}, #{favouriteCategoryId}, #{username})
  </insert> -->

  <!-- <update id="updateSignon" parameterType="Account">
    UPDATE SIGNON SET PASSWORD = #{password}
    WHERE USERNAME = #{username}
  </update> -->

  <!-- <insert id="insertSignon" parameterType="Account">
    INSERT INTO SIGNON (PASSWORD,USERNAME)
    VALUES (#{password}, #{username})
  </insert> -->
</mapper>