<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.juseom.dao.mybatis.mapper.UserMapper">
  <cache />

  <select id="getUserById" resultType="User">
    SELECT USERID,
          PASSWORD,
          NAME,
          PHONE,
          COMMNAME,
          PROFILEPICURL,
          ADDRESS1,
          ADDRESS2,
          ADDRESS3
    FROM "User"
    WHERE USERID = #{userId, jdbcType=VARCHAR}
  </select>

  <!-- <select id="getAccountByUsernameAndPassword" resultType="Account">
    SELECT SIGNON.USERNAME,
      ACCOUNT.EMAIL,
      ACCOUNT.FIRSTNAME,
      ACCOUNT.LASTNAME,
      ACCOUNT.STATUS,
      ACCOUNT.ADDR1 AS address1,
      ACCOUNT.ADDR2 AS address2,
      ACCOUNT.CITY,
      ACCOUNT.STATE,
      ACCOUNT.ZIP,
      ACCOUNT.COUNTRY,
      ACCOUNT.PHONE,
      PROFILE.LANGPREF AS languagePreference,
      PROFILE.FAVCATEGORY AS favouriteCategoryId,
      PROFILE.MYLISTOPT AS listOption,
      PROFILE.BANNEROPT AS bannerOption,
      BANNERDATA.BANNERNAME
    FROM ACCOUNT, PROFILE, SIGNON, BANNERDATA
    WHERE ACCOUNT.USERID = #{param1}
      AND SIGNON.PASSWORD = #{param2}
      AND SIGNON.USERNAME = ACCOUNT.USERID
      AND PROFILE.USERID = ACCOUNT.USERID
      AND PROFILE.FAVCATEGORY = BANNERDATA.FAVCATEGORY
  </select> -->

  <!-- <select id="getUsernameList" resultType="java.lang.String">
    SELECT USERNAME AS VALUE FROM SIGNON
  </select> -->

  <update id="updateUser" parameterType="User">
    UPDATE "User" SET
      PASSWORD = #{password},
      NAME = #{name},
      PHONE = #{phone},
      COMMNAME = #{commName},
      PROFILEPICURL = #{profilePicUrl, jdbcType=VARCHAR},
      ADDRESS1 = #{address1},
      ADDRESS2 = #{address2},
      ADDRESS3 = #{address3}
    WHERE USERID = #{userId}
  </update>
  
  <insert id="insertUser" parameterType="User">
  	INSERT INTO "User"
      (USERID, PASSWORD, NAME, PHONE, COMMNAME, PROFILEPICURL, ADDRESS1, ADDRESS2, ADDRESS3)
    VALUES
      (#{userId}, #{password}, #{name}, #{phone}, #{commName}, #{profilePicUrl}, #{address1}, #{address2}, #{address3})
  </insert>
</mapper>